@{
    ViewData["Title"] = "Home Page";
}

<row>
    <div class="col-sm-6">
        <div class="text-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="card-title">Actual Server Time</h1>
                    <h2 style="color: darkolivegreen;">@DateTime.Now</h2>
                </div>
                <div class="card-footer text-muted">
                    by Eric Rymer
                </div>
            </div>
        </div>
    </div>
</row>